<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.ac.tau.cloudweb17a.hasorkim">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".VetListActivity"
            android:label="@string/title_activity_vet_list"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".VeterinaryClinicMoreDetailsActivity"
            android:label="@string/title_activity_veterinay_clinic_more_details"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WhoWeAreActivity"
            android:label="@string/who_we_are_headline"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NewEventMoreDetailsRequestActivity"
            android:label="@string/title_more_details_request"
            android:parentActivityName=".MapsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.ac.tau.cloudweb17a.hasorkim.MapsActivity" />
        </activity>
        <activity
            android:name=".ActiveReportActivity"
            android:label="דיווח פעיל"
            android:parentActivityName=".ReportListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.ac.tau.cloudweb17a.hasorkim.ReportListActivity" />
        </activity>
        <activity
            android:name=".ReportListActivity"
            android:label="@string/my_reports"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.ac.tau.cloudweb17a.hasorkim.MapsActivity" />
        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

        <service
            android:name=".MessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.ac.tau.cloudweb17a.hasorkim.MapsActivity" />
        </activity>

        <activity
            android:name=".ClosedReportActivity"
            android:label="דיווח לא פעיל"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/dog_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="il.ac.tau.cloudweb17a.hasorkim.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>